.zig-zag-line {
    width: 100%;
    height: 1vw;
    background-color: lightblue;
  }
  
  body {
    /* min-height: 100vh;  */
    background: linear-gradient(309deg, rgba(183,119,219,1) 0%, rgba(137,104,205,1) 26%, rgba(137,104,205,1) 51%, rgba(95,31,228,1) 100%);
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 10vw;
    position: absolute;
    left: -0.9vw;
    top: 2.6vw;
    color: white;
    font-family: "Aldrich", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.01vw;
    transition: 200ms;
  }
  
  h2 {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.145vw;
    right: -0.19vw;
    top: -2.5vw;
    color: white;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }
  
  h1:hover {
    cursor: pointer;
    color: lightblue;
  }
  
  h2:hover {
    cursor: default;
  }
  
  .row1 {
    /* background-color: red; */
    height: 12.2vw;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    transition: 200ms;
  }
  
  .row2 {
    /* background-color: blue; */
    height: 3vw;
    width: 100%;
    position: relative;
    transition: 200ms;
    
  }
  
  .spacer {
    width: 100%;
    height: 2vw;
    /* background-color: green; */
  }
    
    .row3 {
      /* background-color: blue; */
      height: 16.2vw;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .box1 {
      width: 100%;
      height: 100%;
      /* background-color: red; */
    }
  
    .box2 {
      width: 100%;
      height: 100%;
      /* background-color: orange; */
    }
  
    .box3 {
      width: 100%;
      height: 100%;
      /* background-color: yellow; */
    }
  
    .box4 {
      width: 100%;
      height: 100%;
      /* background-color: blue; */
    }
  
  img {
      height: auto; /* Fill the div vertically */
      width: 100%; /* Adjust width to maintain aspect ratio */
      object-fit: cover; /* Ensure the image fills the container, potentially cropping the sides */
      /* border-radius: 20px; */
      transition: 200ms;
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .spacer h3 {
    font-size: 0.7vw;
    margin-left: 0vw;
    position: static;
    color: white;
  }
  
  h3 {
    font-size: 3.145vw;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }
  
  .socials {
    width: 25vw;
    height: 100%;
    /* background-color: green; */
  }
  
  .socials h2 {
    position: absolute;
    overflow: hidden;
    font-size: 1.9vw;
    color: white;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
    left: 0;
    top: -0.8vw;
  }
  
  .socials a {
    
      color: lightblue;
      text-decoration: underline;
    }

 h2, h3, p, a, span {
      font-family: 'Aldrich', sans-serif;
      font-weight: normal; 
      letter-spacing: normal;
  }
  
  
  
    