h1{
    font-size: 6.1vw;
    font-weight: 700;
    margin-top: 11vw;
    font-style: italic;
    transition: 300ms;
}

h2{
    font-size: 1.20vw;
    margin-top: 3vw;
    transition: 300ms;
}

h3 {
    margin-top: -6.8vw;
    font-size: 1.1vw;
    transition: 300ms;
}

a {
    color: white;
    transition: 300ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.6vw;
    transition: 300ms;
  }

.nature h2 {
    margin-top: 3vw;
}

body{
    
    background: rgb(21,3,42);
    background: linear-gradient(90deg, rgba(21,3,42,1) 0%, rgba(46,12,85,1) 50%, rgba(69,16,130,1) 100%);
    /* font-size: 15px; */
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color:rgba(255, 255, 255, 0.853);
    margin: 0px;
    padding: 0px;
  }

  .photorow {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    /* background-color: yellow; */
    height: 30vw;
  }

  .headerrow {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    /* background-color: yellow; */
    height: 30vw;
    background-color: #330666;
    filter: drop-shadow(0.5vw 0.6vw 0.7vw #00001859);
  }
  
  .gutter {
    /* background-color: pink; */
    width: 100%;
  }
  
  .human {
    background-color: #330666;
    width: 100%;
    text-align: left;
  }
  
  .nature {
    background-color: #35592b;
    width: 100%;
    text-align: left;
  }
  
  .graphic {
    background-color: #524ca9;
    width: 100%;
    text-align: left;
  }

  .photorow .human {
    filter: drop-shadow(0.5vw 0.6vw 0.7vw #00001859);
  }

  .photorow .nature {
    filter: drop-shadow(0.5vw 0.6vw 0.7vw #00001859);
  }

  .photorow .graphic {
    filter: drop-shadow(0.5vw 0.6vw 0.7vw #00001859);
  }

  .headerrow .human {
    text-align: left;
    background-color: #330666;
  }

  .headerrow .graphic {
    text-align: left;
    background-color: #330666;
  }

  .headerrow .nature {
    text-align: left;
    background-color: #330666;
  }
  
  span {
    opacity: 0;
    font-size: 1vw;
    transition: 300ms;
    margin-left: 0.7vw;
  }

  img {
    height: 27vw;
    position: relative;
    transition: 300ms;
  }


  .nature:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .graphic:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .human:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .spacer {
    width: 100%;
    height: 0.78vw;
    transition: 300ms;
    /* background-color: aquamarine; */
  }

  .spacer2 {
    width: 100%;
    height: 2.1vw;
    transition: 300ms;
    /* background-color: aqua; */
  }

  @media (max-width: 800px) {

    span {
        opacity: 1;
        transition: 300ms;
    }

    .spacer {
        width: 100%;
        height: 0vw;
        transition: 300ms;
        /* background-color: aquamarine; */
      }

      .spacer2 {
        width: 100%;
        height: 4.3vw;
        transition: 300ms;
      }

  }

  @media (max-width: 550px) {

    span {
        opacity: 1;
        transition: 300ms;
    }

    .spacer {
        width: 100%;
        height: 0.01vw;
        transition: 300ms;
        /* background-color: aquamarine; */
      }

      .spacer2 {
        width: 100%;
        height: 11vw;
        transition: 300ms;
      }

      h1{
        font-size: 5vw;
        font-weight: 700;
        margin-top: 11vw;
        font-style: italic;
        transition: 300ms;
    }
    
    h2{
        font-size: 1vw;
        margin-top: 4vw;
        transition: 300ms;
    }
    
    h3 {
        margin-top: -8.0vw;
        font-size: 0.9vw;
        transition: 300ms;
    }
    
    a {
        color: white;
        transition: 300ms;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.34vw;
        transition: 300ms;
      }

  }

  

  
  