@keyframes fire {
    from {background-color: #a1aaff;}
     to {background-color: gold;}
   }
   
h1{
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    color: white;
}

h2{
    font-family: "Fjalla One", sans-serif;
    font-weight: 300;
    color: white;
}

body{
    background:#a1aaff;
    padding: 0px;
    margin: 0px;
}

   .container1 {
     width: 100vw;
     /* background: rgb(61, 0, 167); */
     height: 5vh;
     padding: 0px;
     margin: 0px;
   }

   .container3 {
    width: 100vw;
    /* background: rgb(61, 0, 167);; */
    height: 5vh;
    padding: 0px;
    margin: 0px;
  }
   
   .container2 {
     width: 100vw;
     /* background: rgb(61, 0, 167);; */
     height: 85vh;
     padding: 0px;
     margin: 0px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-column-gap: 16%;
   }
   
   .column1 {
   /*   background: grey; */
     position: relative;
   }
   
   .column2 {
   /*   background: grey; */
     position: relative;
   }
   
   .column3 {
   /*   background: grey; */
     position: relative;
   }
   
   .column4 {
   /*   background: grey; */
     position: relative;
   }
   
   .column5 {
   /*   background: grey; */
     position: relative;
   }
   
   .candle1 {
     width: 100%;
     height: 70%;
     background: green;
     position: absolute;
     bottom: 0px;
     border-top-right-radius: 3vw;
     border-top-left-radius: 3vw;
   }
   
   .flame1 {
     animation: fire 1.5s alternate infinite;
   /*   background: purple; */
     position: absolute;
     top: 18%;
     left: 3%;
     height: round(10vh,1px);
     width: round(10vw,1px);
     mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
   }
   
   .candle2 {
     width: 100%;
     height: 80%;
     background: green;
     position: absolute;
     bottom: 0px;
     border-top-right-radius: 3vw;
     border-top-left-radius: 3vw;
   }
   
   .flame2 {
   /*   background: purple; */
     animation: fire 0.7s alternate infinite;
     position: absolute;
     top: 8%;
     left: 3%;
     height: round(10vh,1px);
     width: round(10vw,1px);
     mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
   }
   
   .candle3 {
     width: 100%;
     height: 60%;
     background: green;
     position: absolute;
     bottom: 0px;
     border-top-right-radius: 3vw;
     border-top-left-radius: 3vw;
   }
   
   .flame3 {
   /*   background: purple; */
     position: absolute;
     animation: fire 2s alternate infinite;
     top: 28%;
     left: 3%;
     height: round(10vh,1px);
     width: round(10vw,1px);
     mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
   }
   
   .candle4 {
     width: 100%;
     height: 70%;
     background: green;
     position: absolute;
     bottom: 0px;
     border-top-right-radius: 3vw;
     border-top-left-radius: 3vw;
   }
   
   .flame4 {
   /*   background: purple; */
     position: absolute;
     animation: fire 1s alternate infinite;
     top: 18%;
     left: 3%;
     height: round(10vh,1px);
     width: round(10vw,1px);
     mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
   }
   
   .candle5 {
     width: 100%;
     height: 85%;
     background: green;
     position: absolute;
     bottom: 0px;
     border-top-right-radius: 3vw;
     border-top-left-radius: 3vw;
   }
   
   .flame5 {
   /*   background: purple; */
     position: absolute;
     animation: fire 0.7s alternate infinite;
     top: 3%;
     left: 3%;
     height: round(10vh,1px);
     width: round(10vw,1px);
     mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
   }   

   @media (max-width: 2000px) {
    .flame1 {
        left: 15%;
        width: round(5vw,1px);
      }
      .flame2 {
        left: 15%;
        width: round(5vw,1px);
      }
      .flame3 {
        left: 15%;
        width: round(5vw,1px);
      }
      .flame4 {
        left: 15%;
        width: round(5vw,1px);
      }
      .flame5 {
        left: 15%;
        width: round(5vw,1px);
      }
    
    }
   
   @media (max-width: 768px) {
        .container2{
            grid-column-gap: 4%;
            height: 65vh;
        }
        .flame1 {
            left: 20%;
            width: round(10vw,1px);
          }
          .flame2 {
            left: 20%;
            width: round(10vw,1px);
          }
          .flame3 {
            left: 20%;
            width: round(10vw,1px);
          }
          .flame4 {
            left: 20%;
            width: round(10vw,1px);
          }
          .flame5 {
            left: 20%;
            width: round(10vw,1px);
          }
          h1{
            font-size: 10vw;
        }
        
        h2{
            font-size: 10vw;
        }
}